*{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0e1520;
}

.container{
    width: 800px;
    background-color: #1E293B;
    margin-top: 10px;
    margin-bottom: 75px;
    border-radius: 10px;
    padding-bottom: 50px;
}
/****************************************************************************/
/*NAVBAR*/
.navbar-container{
    height: 75px;
    padding: 5px;
    color: white;
    display: flex;
}
    .logo-navbar-container{
        width: 200px;
        height: 100%;
        align-items: center;
        display: flex;
        text-align: center;
    }
        .logo-image-navbar-container{
            height: 100%;
        }
    .about-navbar-container{
        width: 300px;
        height: 100%;
        text-align: center;
        display: flex;
    }
        .about-about-navbar-container{
            width: 33.33%;
            height: 100%;
            align-items: center;
            display: flex;
        }
        .skills-about-navbar-container{
            width: 33.33%;
            height: 100%;
            align-items: center;
            display: flex;
        }
        .projects-about-navbar-container{
            width: 33.33%;
            height: 100%;
            align-items: center;
            display: flex;
        }
    .contact-navbar-container{
        width: 200px;
        height: 100%;
        text-align: right;
        align-items: center;
        display: flex;
    }
        .contact-button-navbar{
            position: relative;
            line-height: 50px;
            display: inline;
            background-color: #1E293B;
            color: white;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 30px;
            display: flex;
        }
            .kr-navbar{
                position: absolute;
                background-color: #E3FF6A;
                color: black;
                border-radius: 25px;
                right: 0;
            }
/*NAVBAR*/
/****************************************************************************/
/*HERO*/
.hero-container{
    text-align: center;
}
    .image-hero-container{
        width: 800px;
    }
    .header-hero-container{
        position: absolute;
        text-align: center;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .h-1-header-hero-container{
            display: inline;
            color: white;
        }
        .h-2-header-hero-container{
            display: inline;
            color: #E3FF6A;
            font-style: italic;
        }
        .h-3-header-hero-container{
            line-height: 50px;
            display: inline;
            color: white;
            border: 1px solid rgb(221, 221, 221);
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
        }
        .h-4-header-hero-container{
            display: inline;
            color: white;
        }
    .bottom-hero-container{
        position: absolute;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .button-projects-hero-container:link, .button-projects-hero-container:visited{
            background-color: #E3FF6A;
            color: black;
            text-decoration: none;
            border-radius: 50px;
            padding: 10px 20px;

            border: none;
        }
        .button-projects-hero-container:hover, .button-projects-hero-container:active{
            background-color: #cae457;
            cursor: pointer;
        }
/*HERO*/
/****************************************************************************/
/*WHO*/
.who-container{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
    .header-who-container{
        color:#E3FF6A;
    }
    .text-who-container{
        color: white;
        width: 60%;
    }
    .button-who-container{
        width: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50px;
        background-color: #E3FF6A;
        cursor: pointer;
        border: none;
    }
/*WHO*/
/****************************************************************************/
/*SKILLS*/
.image-contained{
    width: 100%;
}
.symbols-skills-container{
    background-color: #111925;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    border: 2px solid #2d4670;;
    padding: 5px;
}

.skills-container{
    height: 350px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
    .header-skills-container{
        color: #E3FF6A;
        margin: 25px;
    }
    .c1-header-skills-container{
        width: 90%;
        height: 90%;
        display: flex;
        padding: 5px;
    }
        .c1-1-header-skills-container{
            display: grid;
            grid-template-columns: auto auto auto;
            width: 66%;
            height: 101.5%;
        }
            .c1-1-header-skills-container > div {
                background-color:#151f30;
                color: white;
                border: 2px solid #2d4670;
                border-style: outset;
                padding: 10px;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
                text-align: center;
            }
                .logo-skills{
                    width: 75px;
                }
        .c1-2-header-skills-container{
            background-color:#151f30;
            color: white;
            width: 33%;
            height: 100%;
            padding: 5px;
            border-radius: 5px;
        }
            .big-4{
                font-size: 75px;
            }
            .button-skills-container{
                width: 150px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 50px;
                background-color: #E3FF6A;
                cursor: pointer;
                border: none;
            }
/*SKILLS*/
/****************************************************************************/
/*ADITIONAL*/
.aditional-container{
    height: 250px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 80px;
}
    .box-additional-container{
        background-color: #111925;
        width: 80%;
        height: 90%;
        border-radius: 10px;
        text-align: center;
        padding-top: 20px;
        color: #E3FF6A;
    }
        .aditional-logo-placeholder{
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
/*ADITIONAL*/
/****************************************************************************/
/*WORK*/
.work-container{
    height: 400px;
    display: flex;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
    .c1-work-container{
        width: 50%;
        height: 90%;
        margin: 5px;
        position: relative;
    }
        .c1-header-container{
            color: white;
            font-size: 250%;
            padding-top: 25%;
            padding-left: 15%;
        }
        .c1-button-container{
            text-align: center;
            margin-top: 40px;
            margin-left: 100px;
        }
            .c1-button-work:link, .c1-button-work:visited{
                background-color: #E3FF6A;
                color: black;
                border: none;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 100px;
                padding-right: 100px;
                border-radius: 50px;
                text-decoration: none;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
            }
            .c1-button-work:hover, .c1-button-work:active{
                background-color: #cae457

            }
    .c2-work-container{
        background-color: rgb(216, 140, 0);
        width: 25%;
        height: 90%;
        margin: 5px;
        border-radius: 10px;
    }
    .c3-work-container{
        background-color: rgb(216, 140, 0);
        width: 12.5%;
        height: 90%;
        margin: 5px;
        border-radius: 10px;
    }
    .c4-work-container{
        background-color: rgb(216, 140, 0);
        width: 12.5%;
        height: 90%;
        margin: 5px;
        border-radius: 10px;
    }
    
/*WORK*/
/****************************************************************************/
/*CHAT*/
.chat-container{
    background-color: blue;
    background-color: #ffffff;
    width: 75%;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 40px;
}
    .name-chat-input{
        width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgb(224, 224, 224)
    }
    .email-chat-input{
        width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgb(224, 224, 224)
    }
    .chat-chat-input{
        width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgb(224, 224, 224)
    }
    .button-chat-input{
        width: 70%;
        padding: 20px;
        margin: 10px;
        border-radius: 50px;
        background-color: #E3FF6A;
        cursor: pointer;
        border: none;
    }
/*CHAT*/
/****************************************************************************/